<div class="container center">
  <h1>About this project</h1>
  <p>This projects is from One Month Rails. It is a Pinterest-style application. I'm using it to learn about Rails &amp; Bootstrap.</p>
</div>

