<div class="container center">
  <h1>About this project</h1>
  <p>Built with Ruby on Rails and Bootstrap. This projects is from One Month Rails.</p>
  <p>Though I have worked with Rails and erb before from a front-end perspective, this project allowed me to learn about the entire process. I learned more about routing and simple CRUD operations in Rails, and about installing gems to get certain functionality. I used <a href="https://github.com/plataformatec/devise">Devise</a> to set up and authenticate users. I styled the app using Bootstrap and <a href="http://masonry.desandro.com/">jQuery Masonry</a>. I used <a href="https://devcenter.heroku.com/articles/paperclip-s3">Paperclip</a> and an S3 bucket on AWS to upload and store images from heroku. I also learned about using the Rails console to debug my application as I went along. </p>
</div>

